/* .App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Center {
  margin-top: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: auto;
} */